body {
    font-family: Arial, sans-serif;
}

 .Calculadora {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #8e4dac;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);

 }

.from {
      display: flex;
      flex-direction: column;

 }

 label [
    margin-bottom: 10px;

 ]

 input {
    padding: 10px;
    margin-bottom: 20px;
    border: #8e4dac;
    
 }

 button {
    padding: 10px;
    background-color:#716eeb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

 }

 button:hover {
    background-color: rgb(118, 78, 151);

 }

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #8e4dac;
    border-radius: 5px;
    
}